.primary {
    background: #F2F1ED;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    height: 7vh;
  
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  
    background: inherit;
}

.header-side {
    width: 10vw;
  
    background: inherit;
    content: ' ';
}
  
.test-center {
    width: 80vw;
  
    background: inherit;
    content: ' ';
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title {
    width: 15vw;
    
    text-align: left;

    font-family: YANGGIN;
    font-weight: bold;
    font-size: 2.2vh;
    color: #333333;
    letter-spacing: 0.5px;
}

.header-content {
    width: 65vw;

    text-align: right;

    font-family: YANGGIN;
    font-size: 2.2vh;
    color: #333333;
    letter-spacing: 0.5px;
}

.header-bar {
    border-radius: 5px;
    background: #333333; 
    
    height: 0.3vh;
    
    margin: 1vh 1px 1vh 1px;
}

.body {
    height: 86vh;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    background: inherit;
}

.container {
    display: flex;
    flex-direction: column;
  
    text-align: center;
    align-items: center;
    justify-content: center;
  
    background: inherit;
}

.body-side {
    width: 10vw;
  
    background: inherit;
    content: ' ';
}
  
.body-center {
    width: 80vw;
  
    background: inherit;
    content: ' ';
}

.footer {
    height: 7vh;
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    background: 'inherit';
}

.footer-side {
    width: 10vw;
  
    background: inherit;
    content: ' ';
}
  
.footer-center {
    width: 80vw;
  
    background: inherit;
    content: ' ';
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-bar {
    border-radius: 5px; 
    height: 0.3vh;

    background: #333333;
    
    margin: 1vh 1px 1.5vh 1px;
}

.footer-button-wrapper {
    width: 20vw;
    text-align: center;
}

.footer-button {
    width: 23%;
}