.category-wrapper {
    width: 80vw;

    display: flex;
    flex-direction: row;

    border-radius: 5px;
    margin-bottom: 1vh;

    transition: height 0.3s;
}

.category-background {
    background: rgb(191,181,218);
    background: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
}

.category {
    width: 64vw;

    text-align: center;

    overflow: hidden;
}

.summary {
    height: 3.5vh;

    font-family: Sans Francisco;
    font-size: 0.85em;
    color: #E2E1ED;

    padding-top: 1.5%;
}

.content-wrapper {
    height: 10.5vh;
}

.content {
    font-family: Sans Francisco;
    font-size: 0.85em;
    color: #E9E8F3;

    margin-bottom: 0.7vh;
}

.prepend {
    width: 8vw;

    text-align: center;
}

.distance {
    width: 8vw;
    height: 2.25vh;

    font-family: Sans Francisco;
    font-size: 0.7em;
    color: #E2E1ED;

    background: #333333;
    border-radius: 4.5px;

    margin-top: 0.6vh;
    margin-left: 0.85vh;
}

.append {
    width: 8vw;
    text-align: center;
}

.container {
    transition: height 0.3s;
}