.view {
    width: 80vw;
    height: 80vw;

    border-radius: 5px;

    background-size: cover;

    margin-bottom: 1vh;
}

.header {
    display: flex;
    flex-direction: row;

    border-radius: 5px;
}

.prepend {
    width: 72vw;
    height: 3.5vh;
}

.append {
    width: 8vw;
    height: 3.5vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    padding-left: 1vw;
}

.dot-1 {
    font-size: 0.5rem;
    color: #F2F1ED;
}

.dot-2 {
    font-size: 0.5rem;
    color: rgb(191,181,218);
    color: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
}

.backdrop {
    width: 80vw;
    height: 80vw;

    border-radius: 5px;

    backdrop-filter: brightness(50%);
}

.info {
    width: 80vw;
    height: 80vw;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: -3.5vh;
}

.tag {
    font-family: San Francisco;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0.05rem;

    margin-bottom: 0.6vh;
}

.measured {
    font-family: San Francisco;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0.05rem;
}