.vibe-wrapper {
    width: 80vw;

    display: flex;
    flex-direction: row;

    border-radius: 5px;
    margin-bottom: 1vh;

    background: #333333;

    /*
    background: rgb(191,181,218);
    background: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
    */

    transition: height 0.3s;
}

.vibe {
    width: 64vw;

    text-align: center;

    overflow: hidden;
}

.name-wrapper {
    height: 3.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.name {
    font-family: Sans Francisco;
    font-size: 0.8em;
    color: #E2E1ED;
}

.content-wrapper {
    height: 10.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    font-family: Sans Francisco;
    font-size: 0.8em;
    color: #E9E8F3;

    margin-bottom: 1vh;
}

.prepend {
    width: 8vw;
    height: 3.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-left: 2vw;
    padding-bottom: 0.5vh;
}

.distance {
    font-family: Sans Francisco;
    font-size: 0.7em;
    color: #E2E1ED;
}

.append {
    width: 8vw;
    height: 3.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-bottom: 0.5vh;
}

.dot {
    font-size: 1em;
    color: rgb(191,181,218);
    color: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
}