.container {
    width: 80vw;

    margin-bottom: 1vh;

    transition: height 0.3s;
}

.input-wrapper {
    width: 80vw;
    height: 3.5vh;

    display: flex;
    align-items: center;

    border-radius: 5px;

    transition: all 0.3s;
}

.input-1 {
    width: 66vw;
    height: 3vh;

    font-size: 0.8rem;
    
    border: none;
    outline: none;
    box-shadow: none;
    caret-color: #333333;

    background: transparent;
}

.input-1::placeholder {
    color: #E3E2DE;
    transition: all 0.3s;
}

.input-2 {
    width: 66vw;
    height: 3vh;

    font-size: 0.8rem;
    
    border: none;
    outline: none;
    box-shadow: none;
    caret-color: #333333;

    background: transparent;
}

.input-2::placeholder {
    color: #333333;
    transition: all 0.3s;
}

.prepend {
    width: 6vw;
    height: 3.5vh;
}

.append {
    width: 8vw;
    height: 3.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.focus-color {
    filter: invert(20%) 
            sepia(7%) 
            saturate(6%) 
            hue-rotate(49deg) 
            brightness(89%) 
            contrast(94%);
    transition: filter 0.3s;
}

.blur-color {
    filter: invert(88%) 
            sepia(0%) 
            saturate(34%) 
            hue-rotate(244deg) 
            brightness(99%) 
            contrast(105%);
    transition: filter 0.3s;
}