.detail-wrapper {
    width: 80vw;

    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;

    border-radius: 5px;
    margin-bottom: 1vh;

    background: #F2F1ED;

    transition: height 0.3s;
}

.name {
    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333333;
    padding-left: 0.2vw;
    padding-bottom: 0.2vh;
}