.detail-wrapper {
    width: 80vw;

    display: flex;
    flex-direction: row;

    text-align: left;

    border-radius: 5px;
    margin-bottom: 1vh;

    background: #F2F1ED;

    transition: height 0.3s;
}

.detail {
    width: 72vw;

    overflow: hidden;
}

.name-wrapper {
    height: 3.5vh;

    display: flex;
    align-items: center;
}

.name {
    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333333;
    padding-left: 0.2vw;
}

.append {
    width: 8vw;
    height: 3.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-bottom: 0.2vh;
    padding-left: 1vw;
}

.dot {
    font-size: 0.5rem;
    color: rgb(191,181,218);
    color: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
}

.content {
    font-family: San Francisco;
    font-size: 0.75rem;
    color: #333333;

    margin-bottom: 1vh;
}