.detail-wrapper {
    width: 80vw;

    display: flex;
    flex-direction: row;

    text-align: left;

    border-radius: 5px;
    margin-bottom: 1vh;

    background: #F2F1ED;

    transition: height 0.3s;
}

.detail {
    width: calc(72vw - 8vh);

    overflow: hidden;
}

.name-wrapper {
    height: 3.5vh;

    display: flex;
    align-items: center;
}

.name {
    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333333;
    
    padding-left: 0.2vw;
}

.append {
    width: 8vw;
    height: 3.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-bottom: 0.2vh;
    padding-left: 1vw;
}

.dot {
    font-size: 0.5rem;
    color: rgb(191,181,218);
    color: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
}

.content {
    height: 2vh;

    font-family: San Francisco;
    font-size: 0.75rem;
    color: #333333;

    margin-bottom: 1vh;
}

.image-wrapper {
    width: 8vh;

    padding-top: 3.5vh;
}

.image {
    width: 8vh;
    height: 8vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 0.3vh solid #E3E2DE;
    border-radius: 5px;
}

.spinner {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    width: 4vh;
    height: 4vh;
}

.spinner .path {
    stroke: #E3E2DE;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;
}
  
@-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }