.container {
    display: flex;
    flex-direction: column;
  
    text-align: center;
    align-items: center;
    justify-content: center;
  
    background: inherit;
}

.detail-wrapper {
    width: 80vw;

    display: flex;
    flex-direction: row;

    text-align: left;

    border-radius: 5px;
    margin-bottom: 1vh;

    background: #F2F1ED;

    transition: height 0.3s;
}

.detail {
    width: calc(72vw - 8vh);

    overflow: hidden;
}

.name-wrapper {
    height: 3.5vh;

    display: flex;
    align-items: center;
}

.name {
    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333333;
    
    padding-left: 0.2vw;
}

.append {
    width: 8vw;
    height: 3.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-bottom: 0.2vh;
    padding-left: 1vw;
}

.dot {
    font-size: 0.5rem;
    color: #333;
}


.content {
    height: 2vh;

    font-family: San Francisco;
    font-size: 0.75rem;
    color: #333333;

    margin-bottom: 1vh;
}