.container {
    padding-left: 0.2vw;

    transition: height 0.3s;
}

.search-wrapper {
    width: 80vw;

    border-radius: 5px;
    background: #E3E2DE;

    margin-bottom: 1vh;

    transition: height 0.3s;
}

.search-prepend {
    width: 6vw;
    height: 3.5vh;

    text-align: center;

    font-family: San Francisco;
    font-size: 0.8rem;

    background: inherit;
    border-radius: 5px 0 0 5px;
    border: none;
    color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.search-append {
    width: 8vw;
    height: 3.5vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.75rem;

    background: inherit;
    border-radius: 0 5px 5px 0;
    border: none;
    color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0.1vh 0 0 0;
}

.search-input {
    width: 66vw;
    height: 3.5vh;

    text-transform: lowercase;
    font-family: San Francisco;
    font-size: 0.8rem;

    background: inherit;
    border-radius: 0px;
    border: none;
    color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0.5px 0 0 0;
}

.search-input::placeholder {
    color: #333333;
}

.separator {
    width: 80vw;
    height: 1.5vh;

    border: 0.3vh solid #E3E2DE;
    border-radius: 5px;

    margin-bottom: 1.5vh;
}