.container {
    display: flex;
    flex-direction: column;
  
    text-align: center;
    align-items: center;
    justify-content: center;
  
    background: inherit;
}

.sign {
    height: 22vh;

    display: flex;
    flex-direction: column;
  
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main {
    width: 12.5vw;

    margin-bottom: 1.75vh;
    
    content: url("../../icon/padlock.svg");
}

.sub {
    font-family: San Francisco;
    font-size: 0.95rem;
    color: #333333;

    margin-bottom: 0.75vh;
}

.description {
    font-family: San Francisco;
    font-size: 0.75rem;
    color: #333333;
}

.forgot-password {
    width: 80vw;
    height: 60vh;
}

.auth-wrapper {
    display: flex;
    flex-direction: row;
}

.auth-input {
    width: 66vw;
    height: 4.5vh;

    font-family: San Francisco;
    font-size: 0.9rem;

    background: #333333;
    border-radius: 0px;
    border: none;
    color: #F2F1ED;
    caret-color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0.5px 0 0 0;
}

.auth-prepend {
    width: 6vw;
    height: 4.5vh;

    background: #333333;
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;
    
    padding: 0;
}

.auth-append {
    width: 8vw;
    height: 4.5vh;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.9rem;

    background: #333333;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0.5px 0 0 0;
}

.dot {
    font-size: 0.35rem;
    color: #D5D0C4;
}

.request-button {
    font-family: WaitingfortheSunrise;
    font-weight: bold;
    font-size: 1.65rem;
    color: #333333;
}