@font-face {
  font-family: 'YANGGIN';
  src: url('../font/yanggin-0.9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoton';
  src: url('../font/Monoton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  background: #F2F1ED;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-color {
  filter: invert(20%) 
          sepia(7%) 
          saturate(6%) 
          hue-rotate(49deg) 
          brightness(89%) 
          contrast(94%);
}
