@font-face {
  font-family: 'YANGGIN';
  src: url('../font/yanggin-0.9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  background: #F2F1ED;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.caker-header {
  height: 8vh;

  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: center;

  color: #333333;
  font-family: YANGGIN;
  font-size: calc(10px + 2vmin);
  font-weight: bold;

  background: inherit;
}

.caker-body {
  height: 84vh;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background: inherit;
}

.caker-container {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  justify-content: center;

  background: inherit;
}

.caker-footer {
  height: 8vh;

  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: center;

  color: #333333;
  font-family: YANGGIN;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  
  background: #F2F1ED;
}

.caker-side {
  width: 10vw;

  background: inherit;
  content: ' ';
}

.caker-center {
  width: 80vw;

  background: inherit;
  content: ' ';
}

.pull-to-refresh {
  border-radius: 5px;
  background: inherit;
}
