.caker-footer {
    height: 10vh;
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    background: #F2F1ED;
}

.caker-footer-side {
    width: 10vw;
  
    background: inherit;
    content: ' ';
}
  
.caker-footer-center {
    width: 80vw;
  
    background: inherit;
    content: ' ';
}

.caker-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caker-footer-bar {
    border-radius: 5px; 
    height: 0.3vh;

    background: #333333;
    
    margin: 1vh 1px 2vh 1px;
}

.caker-footer-button-wrapper {
    width: 20vw;
    text-align: center;
}

.caker-footer-button {
    width: 23%;
}