@font-face {
  font-family: 'YANGGIN';
  src: url('../font/yanggin-0.9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoton';
  src: url('../font/Monoton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url('../font/NotoSerifKR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco';
  src: url('../font/SFUIText-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WaitingfortheSunrise';
  src: url('../font/WaitingfortheSunrise-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@-moz-keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@-o-keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

input::placeholder {
  color: #F2F1ED;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F2F1ED;
}

.primary-color {
  filter: invert(20%) 
          sepia(7%) 
          saturate(6%) 
          hue-rotate(49deg) 
          brightness(89%) 
          contrast(94%);
  transition: filter 0.9s;
}

.secondary-color {
  filter: invert(99%) 
          sepia(0%) 
          saturate(4121%) 
          hue-rotate(295deg) 
          brightness(128%) 
          contrast(89%);
  transition: filter 0.9s;
}

.empty-heart-color {
  filter: invert(99%) 
          sepia(0%) 
          saturate(4121%) 
          hue-rotate(295deg) 
          brightness(128%) 
          contrast(89%);
}

.filled-heart-color {
  filter: invert(14%) 
          sepia(68%) 
          saturate(7183%) 
          hue-rotate(342deg) 
          brightness(96%) 
          contrast(111%);
}

.non-display {
  display: none;
}

.pull-to-refresh {
  border-radius: 5px;
  background: inherit;
}

.fade-in-slow {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.fade-in-fast {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

.fade-out-slow {
  animation: fadeout 2s;
  -moz-animation: fadeout 2s;
  -webkit-animation: fadeout 2s;
  -o-animation: fadeout 2s;
}

.fade-out-fast {
  animation: fadeout 1s;
  -moz-animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  -o-animation: fadeout 1s;
}

.test-color {
  filter: invert(98%) sepia(8%) saturate(496%) hue-rotate(328deg) brightness(91%) contrast(82%);
  transition: filter 0.9s;
}

.test-color-2 {
  filter: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
  
}