@font-face {
  font-family: 'YANGGIN';
  src: url('../font/yanggin-0.9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoton';
  src: url('../font/Monoton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url('../font/NotoSerifKR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F2F1ED;
  padding: 0;
  margin: 0;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}