.view-wrapper {
    width: 100%;

    position: relative;

    margin-bottom: 1vh;
}

.view-map-wrapper {
    font-family: YANGGIN;
    font-size: 2vh;
    color: #F2F1ED;
    letter-spacing: 0.5px;

    background: #333333;
    border-radius: 5px;
}

.view-image {
    width: 100%;

    border-radius: 5px;
}

.view-tag-1 {
    font-family: YANGGIN;
    font-size: 1.5vh;
    color: #F2F1ED;
    letter-spacing: 0.5px;

    background: rgba(51,51,51, 0.9);
    border-radius: 5px 0px 5px 0px;

    padding: 0.6vh 2vw 0.3vh 1.9vw;

    position: absolute;
}

.view-map {
    max-width: 100%;
    max-height: 100%;

    border-radius: 5px;
}

.view-tag-2 {
    font-family: YANGGIN;
    font-size: 1.5vh;
    color: #333333;
    letter-spacing: 0.5px;

    background: #F2F1ED;
    border-radius: 5px 0px 5px 0px;

    padding: 0.6vh 2vw 0.3vh 1.9vw;

    position: absolute;
}

.view-detail-wrapper {
    width: 80vw;
    height: 2.7vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: San Francisco;
    font-size: 1.6vh;
    color: #F2F1ED;

    background: rgba(51,51,51, 0.9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 0 2vw 0 2vw;
    margin-top: -2.7vh;

    position: absolute;
}

.view-detail-1 {
    width: 65vw;

    text-align: left;
}

.view-detail-2 {
    width: 15vw;

    text-align: right;
}