.view-wrapper {
    width: 100%;

    position: relative;

    margin-bottom: 1vh;
}

.view-container {
    font-family: YANGGIN;
    font-size: 2vh;
    color: #F2F1ED;
    letter-spacing: 0.5px;

    background: #333333;
}

.view-image {
    width: 100%;

    border-radius: 5px;
}

.view-tag {
    font-family: YANGGIN;
    font-size: 1.5vh;
    color: #F2F1ED;
    letter-spacing: 0.5px;

    opacity: 0.9;
    background: #333333;
    border-radius: 5px 0px 5px 0px;

    padding: 0.6vh 2vw 0.3vh 1.9vw;

    position: absolute;
}