.view-wrapper {
    width: 100%;

    position: relative;

    margin-bottom: 1vh;
}

.view-map-wrapper {
    font-family: YANGGIN;
    font-size: 2vh;
    color: #F2F1ED;
    letter-spacing: 0.5px;

    background: #333333;
    border-radius: 5px;
}

.view-image {
    width: 100%;

    border-radius: 5px;
}

.view-tag-1 {
    font-family: YANGGIN;
    font-size: 1.5vh;
    color: #F2F1ED;
    letter-spacing: 0.5px;

    opacity: 0.9;
    background: #333333;
    border-radius: 5px 0px 5px 0px;

    padding: 0.6vh 2vw 0.3vh 1.9vw;

    position: absolute;
}

.view-map {
    max-width: 100%;
    max-height: 100%;

    border-radius: 5px;
}

.view-tag-2 {
    font-family: YANGGIN;
    font-size: 1.5vh;
    color: #333333;
    letter-spacing: 0.5px;

    background: #F2F1ED;
    border-radius: 5px 0px 5px 0px;

    padding: 0.6vh 2vw 0.3vh 1.9vw;

    position: absolute;
}

.view-detail-wrapper {
    width: 80vw;
    height: 2.8vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: San Francisco;
    font-size: 1.6vh;
    color: #F2F1ED;

    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2f1ed' fill-opacity='0.03' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    border-radius: 5px;

    padding: 0 2vw 0 2vw;
    margin-top: -2.8vh;

    position: absolute;
}

.view-detail-1 {
    width: 65vw;

    text-align: left;
}

.view-detail-2 {
    width: 15vw;

    text-align: right;
}