.view-wrapper {
    width: 100%;

    position: relative;

    margin-bottom: 1vh;
}

.view-image {
    width: 100%;

    border-radius: 5px;
}

.tag-view-detail-wrapper {
    background-size: cover;
    border-radius: 5px;
}

.tag-view-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-radius: 5px;

    backdrop-filter: brightness(60%);
}

.tag-view-tag {
    font-family: San Francisco;
    font-size: 2.1vh;
    color: #FFFFFF;
    letter-spacing: 0.5px;

    margin-bottom: 0.6vh;
}

.tag-view-distance {
    font-family: San Francisco;
    font-weight: bold;
    font-size: 1.8vh;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

.circle-wrapper {
    padding-top: 1vh;
    padding-left: 2vw;

    position: absolute;

    z-index: 1;
}

.circle-1 {
    width: 1.8vh;
    height: 1.8vh;

    background: #333333;
    border-radius: 50%;
    border: 0.2vh solid #333333;
    box-shadow: inset 0 0 0 0.25vh #F2F1ED;
}

.circle-2 {
    width: 1.8vh;
    height: 1.8vh;

    background: #424242;
    border-radius: 50%;
    border: 0.2vh solid #424242;
    box-shadow: inset 0 0 0 0.25vh #F2F1ED;
}