.search-wrapper {
    display: flex;
    flex-direction: row;
}

.search-input {
    width: 66vw;
    height: 4vh;

    text-transform: lowercase;
    font-family: San Francisco;

    background: #333333;
    border-radius: 0px;
    border: none;
    color: #F2F1ED;
    caret-color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.search-prepend {
    width: 6vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;

    background: #333333;
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: #F2F1ED;

    padding: 0;
}

.search-append {
    width: 8vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;

    background: #333333;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.dot-wrapper {
    width: 80vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dot {
    color: #333333;
    font-size: 1.5vh;
}

.tag-wrapper {
    height: 76vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tag-name {
    text-align: center;

    font-family: San Francisco;
    font-size: 3.6vh;
}

.tag-count {
    text-align: center;

    font-family: San Francisco;
    font-size: 1.2vh;
    color: #F2F1ED;

    background: #333333;
    border-radius: 3px;

    margin: 0 0 0 1.5vw;
    padding: 0.3vh 0.7vw 0.1vh 0.8vw;
}