.upload-wrapper {
    width: 80vw; 
    height: 86vh;
    
    border-radius: 5px;

    position: relative;
    overflow: hidden; 

    z-index: 1;
}

.upload {
    width: 80vw;
    height: 86vh;
    
    text-align: left;

    font-family: San Francisco;
    font-size: 7vh;
    color: #F2F1ED;
    letter-spacing: 1.5px;
}

.upload-content-1 {
    margin-top: 0.5vh;
    margin-bottom: -1vh;
}

.upload-content-2 {
    margin-bottom: -1vh;
}

.upload-content-3 {
    margin-bottom: -0.8vh;
}

.upload-content-4 {
    height: 6.5vh;
    width: 6.5vh;

    margin-left: -0.2vw;
}

.cropper {
    width: 80vw;
    height: 86vh;
}

.inverse-dot-wrapper {
    width: 80vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.inverse-dot {
    color: #F2F1ED;
    font-size: 1vh;
    
    z-index: 1;
}

.upload-image {
    width: 80vw;
    height: 80vw;
    
    border: 1px solid rgba(255,255,255, 0.1);
    border-radius: 5px;
}

.text-input-wrapper {
    display: flex;
    flex-direction: row;

    margin-bottom: 0.5vh;
}

.text-input {
    width: 66vw;
    height: 4vh;

    text-transform: lowercase;
    font-family: San Francisco;

    background: #333333;
    border-radius: 0px;
    border: none;
    color: #F2F1ED;
    caret-color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.text-input-prepend {
    width: 6vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;

    background: #333333;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.text-input-append {
    width: 8vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;

    background: #333333;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.temp {
    width: 80vw;
    height: 4vh;

    background: #F2F1ED;
    border-radius: 5px;

    margin-bottom: 1.5vh;
}