.view-wrapper {
    width: 100%;
    margin-bottom: 1vh;
}

.view {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.invisible {
    display: none;
}

.fade-in-view {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
}
  
.fade-out-view {
    animation: fadeout 1.5s;
    -moz-animation: fadeout 1.5s;
    -webkit-animation: fadeout 1.5s;
    -o-animation: fadeout 1.5s;
}