.image {
    width: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 5px;

    background-size: cover;

    transition: height 0.4s;
}

.comment {
    width: 80vw;
    height: 80vw;

    border-radius: 5px;

    backdrop-filter: brightness(50%);
}

.comment-top {
    width: 80vw;
    height: 20vw;
}

.comment-middle {
    width: 80vw;
    height: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
}

.comment-bottom {
    width: 80vw;
    height: 20vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.comment-side {
    width: 30vw;
    height: 20vw;
}

.comment-center {
    width: 20vw;
    height: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    color: white;
}

.comment-enabled {
    color: white;
}

.comment-disabled {
    color: #B3B3B3;
}

.cake-rating {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;

    margin-top: 0.5vh;
}