.image {
    width: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 5px;

    background-size: cover;

    transition: all 0.5s;
}

.comment {
    width: 80vw;
    height: 80vw;

    border-radius: 5px;

    backdrop-filter: brightness(50%);

    transition: all 0.5s;
}

.comment-center {
    width: 80vw;
    height: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
}

.comment-side {
    width: 80vw;
    height: 20vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.toggle-button-wrapper {
    width: 10vw;
    height: 10vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.toggle-button {
    width: 6vw;
    height: 1vh;

    border: 0.3vh solid #414141;

    background: #F2F1ED;
}

.comment-enabled {
    color: white;
}

.comment-disabled {
    color: #B3B3B3;
}

.cake-rating {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;

    margin-top: 1vh;
}

.note {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    color: white;
    font-family: San Francisco;
    background-color: inherit;
    background-attachment: local;
    background-image:
      repeating-linear-gradient(transparent, transparent 30px, #D5D0C4 30px, #D5D0C4 31px, transparent 31px);
    line-height: 31px;
}