
.dot {
    color: #333333;
    font-size: 0.5rem;
}

.dot-wrapper {
    width: 80vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tag-wrapper {
    height: 76vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;
}

.tag-name {
    text-align: center;

    font-family: San Francisco;
    font-size: 1.8rem;
    color: #333333;
}

.tag-count {
    text-align: center;

    font-family: San Francisco;
    font-size: 0.5rem;
    color: #F2F1ED;

    background: rgba(51,51,51, 0.9);
    border-radius: 3px;

    margin-left: 1.5vw;
    padding: 0.4vh 0.7vw 0.1vh 0.8vw;
}