.wrapper {
    display: flex;
    flex-direction: row;
}

.input {
    width: 66vw;
    height: 4vh;

    text-transform: lowercase;
    font-family: San Francisco;

    background: #333333;
    border-radius: 0px;
    border: none;
    color: #F2F1ED;
    caret-color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.prepend {
    width: 6vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;

    background: #333333;
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;
    
    padding: 0;
}

.append {
    width: 8vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;

    background: #333333;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}