.image {
    width: 80vw;
    height: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 5px;

    background-size: cover;
}

.comment {
    width: 80vw;
    height: 80vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-size: 0.7em;
    letter-spacing: 0.05em;

    border-radius: 5px;

    backdrop-filter: brightness(50%);
}