.image-list {
    width: 80vw;
    height: 80vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 5px;

    background: #222222;
    background-size: cover;
}