.image-uploader {
    width: 80vw;
    height: 86vh;
}

.search-wrapper {
    display: flex;
    flex-direction: row;

    margin-bottom: 0.5vh;
}

.search-input {
    width: 66vw;
    height: 4vh;

    text-transform: lowercase;
    font-family: San Francisco;

    background: #333333;
    border-radius: 0px;
    border: none;
    color: #F2F1ED;
    caret-color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.search-prepend {
    width: 6vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;

    background: #333333;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.search-append {
    width: 8vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;

    background: #333333;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.text-wrapper {
    display: flex;
    flex-direction: row;

    margin-bottom: 1.5vh;
}

.text-input {
    width: 66vw;
    height: 4vh;

    text-transform: lowercase;
    font-family: San Francisco;

    background: #F2F1ED;
    border-radius: 0px;
    border: none;
    color: #333333;
    caret-color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.text-prepend {
    width: 6vw;
    height: 4vh;

    text-align: center;

    font-size: 11px;
    font-weight: bold;
    font-family: San Francisco;

    background: #F2F1ED;
    border-radius: 5px 0 0 5px;
    border: none;
    color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.text-append {
    width: 8vw;
    height: 4vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;

    background: #F2F1ED;
    border-radius: 0 5px 5px 0;
    border: none;
    color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0;
}