.image-uploader {
    width: 80vw;
    height: 86vh;
}

.search-wrapper {
    display: flex;
    flex-direction: row;

    margin-bottom: 0.5vh;
}

.search-input {
    width: 66vw;
    height: 3.5vh;

    text-transform: lowercase;
    font-family: San Francisco;
    font-size: 0.8rem;

    background: inherit;
    border-radius: 0px;
    border: none;
    color: #F2F1ED;
    caret-color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0.5px 0 0 0;
}

.search-input::placeholder {
    color: #F2F1ED;
}

.search-prepend {
    width: 6vw;
    height: 3.5vh;

    text-align: center;

    font-family: San Francisco;
    font-size: 0.8rem;

    background: inherit;
    border-radius: 5px 0 0 5px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.search-append {
    width: 8vw;
    height: 3.5vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.75rem;

    background: inherit;
    border-radius: 0 5px 5px 0;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0.1vh 0 0 0;
}

.text-wrapper {
    display: flex;
    flex-direction: row;

    margin-bottom: 1.5vh;
}

.text-input {
    width: 66vw;
    height: 3.5vh;

    text-transform: lowercase;
    font-family: San Francisco;
    font-size: 0.8rem;

    background: #F2F1ED;
    border-radius: 0px;
    border: none;
    color: #333333;
    caret-color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0.5px 0 0 0;
}

.text-input::placeholder {
    color: #858585;
}

.text-prepend {
    width: 6vw;
    height: 3.5vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.8rem;

    background: #F2F1ED;
    border-radius: 5px 0 0 5px;
    border: none;
    color: #333333;
    outline: none;
    box-shadow: none;

    padding: 0;
}

.text-prepend::placeholder {
    color:#333333;
}

.text-append {
    width: 8vw;
    height: 3.5vh;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.75rem;

    background: #F2F1ED;
    border-radius: 0 5px 5px 0;
    border: none;
    color: #333333;
    outline: none;
    box-shadow: none;
}

.text-append::placeholder {
    color: #333333;
}

.preview-image-list {
    display: flex;

    margin-top: 1.5vh;
}

.preview-image-wrapper {
    width: calc((80vw - 3vh) / 3);
    height: calc((80vw - 3vh) / 3);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-radius: 5px; 
    
    background: #454545;
    background-size: cover;
}

.preview-image {
    width: calc((80vw - 3vh) / 3);
    height: calc((80vw - 3vh) / 3);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.7rem;

    border-radius: 5px;

    backdrop-filter: brightness(50%);
}

.preview-image-enabled {
    color: white;
}

.preview-image-disabled {
    color: #b3b3b3;
}

.upload-button-wrapper {
    width: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 3vh;
}

.upload-button {
    font-family: WaitingfortheSunrise;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    color: #F2F1ED;
}

