.image {
    width: 80vw;
    height: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 5px;

    background-size: cover;
}

.comment {
    width: 80vw;
    height: 80vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;

    border-radius: 5px;

    backdrop-filter: brightness(50%);
}

.comment-enabled {
    color: white;
}

.comment-disabled {
    color: #F2F1ED;
}

.cake-rating {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;

    margin-top: 0.5vh;
}