.wrapper {
    width: 80vw; 
    height: 86vh;
    
    border-radius: 5px;

    position: relative;
    overflow: hidden; 

    z-index: 1;
}

.front-view {
    width: 80vw;
    height: 86vh;
    
    text-align: left;

    font-family: San Francisco;
    font-size: 3.5rem;
    color: #F2F1ED;
    letter-spacing: 1.5px;
}

.front-view-content-1 {
    margin-top: 0.5vh;
    margin-bottom: -1vh;
}

.front-view-content-2 {
    margin-bottom: -1vh;
}

.front-view-content-3 {
    margin-bottom: -0.8vh;
}

.front-view-content-4 {
    height: 6.5vh;
    width: 6.5vh;

    margin-left: -0.2vw;
}