.wrapper {
    width: 80vw; 
    height: 86vh;
    
    border-radius: 5px;

    position: relative;
    overflow: hidden; 

    z-index: 1;
}

.front-view {
    width: 80vw;
    height: 86vh;
}

.separator {
    width: 80vw;
    height: 3.5vh;

    border-radius: 5px;
    
    background: #F2F1ED;

    margin-bottom: 1.5vh;
}

.preview-image-list {
    display: flex;

    margin-top: 1.5vh;
}

.preview-image-wrapper {
    width: calc((80vw - 3vh) / 3);
    height: 3.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-radius: 5px; 
    
    background: #454545;
    background-size: cover;
}

.preview-image {
    width: calc((80vw - 3vh) / 3);
    height: 3.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.7rem;

    border-radius: 5px;

    backdrop-filter: brightness(50%);
}