.wrapper {
    width: 80vw; 
    height: 83vh;
    
    border-radius: 5px;

    position: relative;
    overflow: hidden; 

    z-index: 1;
}

.front-view {
    width: 80vw;
    height: 83vh;
}

.separator {
    width: 80vw;
    height: 3.5vh;

    border-radius: 5px;
    
    background: #F2F1ED;

    margin-bottom: 1.5vh;

    transition: height 0.3s;
}

.preview-image-list {
    display: flex;

    margin-top: 1.5vh;
}

.preview-image-wrapper {
    width: calc((80vw - 3vh) / 3);
    height: calc((80vw - 3vh) / 3);
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-radius: 5px;
}

.preview-image {
    width: calc((80vw - 3vh) / 3);
    height: calc((80vw - 3vh) / 3);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.7rem;

    border-radius: 5px;

    backdrop-filter: brightness(50%);
}

.dot {
    font-size: 0.5rem;
    color: rgb(191,181,218);
    color: linear-gradient(45deg, rgba(191,181,218,1) 21%, rgba(165,185,227,1) 43%, rgba(156,186,230,1) 79%, rgba(148,187,233,1) 100%);
}