@font-face {
  font-family: 'YANGGIN';
  src: url('yanggin-0.9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

.App-header {
  text-align: center;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: YANGGIN;
  font-weight: bold;
  background-color: #F2F1ED;
}

.App-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  text-align: center;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #333333;
  font-family: YANGGIN;
  font-weight: bold;
  color: white;
}

.Pull-To-Refresh {
  background-color: #F2F1ED;
}

.App-commands {
  background: linear-gradient(35deg, #64b6ac, #3c6b7c 100%);
}
