.App-header {
  text-align: center;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: YANGGIN;
  font-weight: bold;
}

.App-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  text-align: center;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: rgb(2, 1, 1);
  font-family: YANGGIN;
  font-weight: bold;
  color: white;
}

.Pull-To-Refresh {
  height: 100%;
}

.App-commands {
  background: linear-gradient(35deg, #64b6ac, #3c6b7c 100%);
}
