.container {
    display: flex;
    flex-direction: column;
  
    text-align: center;
    align-items: center;
    justify-content: center;
  
    background: inherit;
}

.sign {
    height: 22vh;

    display: flex;
    flex-direction: column;
  
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main {
    font-family: YANGGIN;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.05em;

    margin-bottom: -0.9vh;
}

.sub {
    width: 32vw;

    font-family: YANGGIN;
    font-size: 0.85em;
    color: #F2F1ED;
    letter-spacing: 0.1em;

    border-radius: 4px;

    background: #333333;

    padding-top: 0.2vh;
}

.sign-in {
    width: 80vw;
    height: 60vh;
}

.auth-wrapper {
    display: flex;
    flex-direction: row;
}

.auth-input {
    width: 66vw;
    height: 4.5vh;

    text-transform: lowercase;
    font-family: San Francisco;
    font-size: 0.9em;

    background: #333333;
    border-radius: 0px;
    border: none;
    color: #F2F1ED;
    caret-color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0.5px 0 0 0;
}

.auth-prepend {
    width: 6vw;
    height: 4.5vh;

    background: #333333;
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;
    
    padding: 0;
}

.auth-append {
    width: 8vw;
    height: 4.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-family: San Francisco;
    font-weight: bold;
    font-size: 0.9em;

    background: #333333;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: #F2F1ED;
    outline: none;
    box-shadow: none;

    padding: 0.5px 0 0 0;
}

.dot {
    font-size: 0.45em;
    color: #333333;
}

.sign-in-button {
    font-family: WaitingfortheSunrise;
    font-weight: bold;
    font-size: 1.85em;
}

.forgot-password {
    font-family: San Francisco;
    font-size: 0.8em;
}

.separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.separator-comment {
    width: 10vw;

    font-family: San Francisco;
    font-size: 0.8em;
    color: #D5D0C4;
}

.separator-bar {
    width: 70vw;
    height: 0.2vh;

    border-radius: 2px;

    background: #E8E6DF;
}