.wrapper {
    width: 100%;

    position: relative;

    margin-bottom: 1vh;
}

.image {
    width: 100%;

    border-radius: 5px;
}

.detail-wrapper {
    background-size: cover;
    border-radius: 5px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    border-radius: 5px;

    backdrop-filter: brightness(60%);
}

.tag {
    font-family: San Francisco;
    font-size: 2.1vh;
    color: #FFFFFF;
    letter-spacing: 0.5px;

    margin-bottom: 0.6vh;
}

.distance {
    font-family: San Francisco;
    font-weight: bold;
    font-size: 1.8vh;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

.dot-wrapper {
    padding-top: 1vh;
    padding-left: 2vw;

    position: absolute;

    z-index: 1;
}

.dot {
    color: #F2F1ED;
    font-size: 1vh;
    
    z-index: 1;
}